* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

h2 {
  color: white
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-image: url(./assets/wallpaper.jpg); */
  background-size: cover;
  /* background: linear-gradient(43deg, yellow, black, gold, orange,red, gray); */
  background: radial-gradient(palevioletred, cyan);
  color: pi;
}

.login {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  color: white;
  border-radius: 10px;
  padding: 100px 40px;
}

.login h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.login .form-group {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  color: white;
  text-indent: 7%;
}

.form-group input::placeholder {
  color: white;
  /* transform: translateX(15px); */
}
.form-group input::-ms-value {
  color: white;
  /* transform: translateX(15px); */
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login button {
  width: 100%;
  height: 45px;
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .1);
  cursor: pointer;
  font-size: 16px;
  color: slategray;
  font-weight: 600;
}

.login .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.link:hover {
  text-decoration:underline;
}

.logout-btn {
  border-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
 -webkit-text-fill-color: aliceblue;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

.logoutText {
  color: whitesmoke;
  margin-bottom: 10px;
}

.adContainer {
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 7%;
  right: 42.5%;
  justify-content: center;
  align-items: center;
  border: solid white;
  gap: 10px;
  border-radius: 7%;
  padding: 25px;
  height: 25vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  height: inherit;
}


.popupContainer select {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  /* appearance: none; Hide the default arrow */
  /* background-image: url('custom-dropdown-arrow.png'); Custom arrow image */
  /* background-repeat: no-repeat;
  background-position: right center; */
}

.popupContainer select option {
  color: black;
  background-color: white;
  padding: 5px;
}

.popupContainer select option:checked {
  background-color: cornflowerblue;
  color: white;
}

.createAdContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conditionalInput {
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
}

.conditionalInput .adInput {
  display: flex;
  direction: row;
}

.adInput {
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-bottom: 1px;
  margin-top: 1px;  
  background-color:rgb(255, 255, 255, 0.1);
} 

.singleInput {
  display: flex; 
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  gap: 5px;
  border: 1px solid white;
  border-radius: 3%;
  padding: 9px;
  color: white;
}

.singleInput input {
  padding: 3px;
  border-radius: 8px;
}

.create-btn {
  display: flex;

}

.filterClear {
  border: 1px solid white;
  color: white;
  border-radius: 1.25rem;
  padding: .55rem;
  margin-top: .75rem;
  background-color: transparent;
  width: 100%;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.filterClear:hover {
  cursor: pointer;
  color: black;
  background-color: whitesmoke;
  border: 1px solid black;
}

.suggestions {
  display: flex; 
  flex-direction: column;
  position: absolute;
  background-color: rgba(255, 0255, 0255, 0.95);
  color: black;
  transform: translateY(1px);
  max-height: 30%;
  overflow: scroll;
}

.suggestions p {
  border: 1px solid black;
  border-bottom: 0px;
  cursor: pointer;
  padding: 3px;
}



.suggestions p:last-child {
  border-bottom: 1px black solid;
}

.popupContainer p  {
  color: black;
  background-color: white;
  padding: 5px;
}

.suggestions p:hover {
  background-color: cornflowerblue;
  color: white;
}


.disabled-input {
  pointer-events: none; /* Prevents mouse interaction */
  background-color: gray; /* Sets a gray background color */
}

.create-btn {
  display: flex;
  padding: 1rem;
  gap: 20px;

}

.create-btn button {
  border-radius: 3rem;
  height: 2.6rem;
  width: 14rem;
}

.create-btn button:hover {
  /* border-radius: 3rem;
  height: 2.6rem;
  width: 14rem; */
  background-color: rgba(255, 255, 255, .2);

}