* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

h2 {
  color: white
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./assets/wallpaper.jpg);
  background-size: cover;
  background-color: slategrey;
}

.login {
  width: 420px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  color: white;
  border-radius: 10px;
  padding: 100px 40px;
}

.login h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.login .form-group {
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  color: white;
  text-indent: 7%;
}

.form-group input::placeholder {
  color: white;
  /* transform: translateX(15px); */
}
.form-group input::-ms-value {
  color: white;
  /* transform: translateX(15px); */
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.login button {
  width: 100%;
  height: 45px;
  background-color: white;
  border-radius: 35px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .1);
  cursor: pointer;
  font-size: 16px;
  color: slategray;
  font-weight: 600;
}

.login .signup-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup-link p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.signup-link p Link:hover {
  text-decoration: underline;
}

.logout-btn {
  border-color: rgba(255, 255, 255, .2);
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(255, 255, 255, .2);
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
 -webkit-text-fill-color: aliceblue;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, .2);
}

.logoutText {
  color: whitesmoke;
  margin-bottom: 10px;
}

